target
local

# Eclipse, Netbeans and IntelliJ files
/.*
!/.github
!/.ci
!.gitignore
!.gitattributes
!/.mvn
/nbproject
/optaplanner
/examples
/data
/docs/examples
*.ipr
*.iws
*.iml

# Repository wide ignore mac DS_Store files
.DS_Store
